<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="ai.kore.androidsdk">

    <application>
        <activity
            android:name=".KoreAiChatActivity"
            android:windowSoftInputMode="adjustResize"
            android:exported="false" />
    </application>

</manifest>